In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [11]:
metro_chicago_file = 'Police Dataset/Large_metro_areas/Chicago Crimes_-_2001_to_Present.csv'
metro_Dallas_file = 'Police Dataset/Large_metro_areas/Dallas Police Arrests.csv'
metro_LA_file = 'Police Dataset/Large_metro_areas/LA Crime_Data_from_2010_to_2019.csv'
metro_NY_file = 'Police Dataset/Large_metro_areas/NYPD_Arrests_Data__Historic_.csv'
NYFrisk_2015_file = 'Police Dataset/NYC_stop_frisk/sqf-2015.csv'
NYFrisk_2016_file = 'Police Dataset/NYC_stop_frisk/sqf-2016.csv'
NYFrisk_2017_file = 'Police Dataset/NYC_stop_frisk/sqf-2017.csv'
NYFrisk_2018_file = 'Police Dataset/NYC_stop_frisk/sqf-2018.csv'
NYFrisk_2019_file = 'Police Dataset/NYC_stop_frisk/sqf-2019.csv'
budgets_file = 'Police Dataset/budgets.csv'
deaths_arrests_file = 'Police Dataset/deaths_arrests_race.csv'
dod_equip_file = 'Police Dataset/dod_equipment_purchases.csv'
education_file = 'Police Dataset/education_census_bureau.csv'
fatal_encouters_file = 'Police Dataset/fatal_encounters_dot_org.csv'
fatal_shootings_file = 'Police Dataset/fatal-police-shootings-data.csv'
juvenile_file = 'Police Dataset/juvenile_arrests.csv'
contracts_file = 'Police Dataset/police_contracts.csv'
employment_file = 'Police Dataset/police_employment_fbi.csv'
killings_file = 'Police Dataset/police_killings.csv'
policies_file = 'Police Dataset/police_policies.csv'
politics_file = 'Police Dataset/politics_538.csv'
poverty_file = 'Police Dataset/poverty_census_bureau.csv'
wash_post_shootings_file = 'Police Dataset/shootings_wash_post.csv'

In [10]:
metro_chicago_df = pd.read_csv(metro_chicago_file)
metro_Dallas_df = pd.read_csv(metro_Dallas_file)
metro_LA_df = pd.read_csv(metro_LA_file)
metro_NY_df = pd.read_csv(metro_NY_file)
NYFrisk_2015_df = pd.read_csv(NYFrisk_2015_file)
NYFrisk_2016_df = pd.read_csv(NYFrisk_2016_file)
NYFrisk_2017_df = pd.read_csv(NYFrisk_2017_file)
NYFrisk_2018_df = pd.read_csv(NYFrisk_2018_file)
NYFrisk_2019_df = pd.read_csv(NYFrisk_2019_file)
budgets_df = pd.read_csv(budgets_file)
deaths_arrests_df = pd.read_csv(deaths_arrests_file)
dod_equip_df = pd.read_csv(dod_equip_file)
education_df = pd.read_csv(education_file)
fatal_encouters_df = pd.read_csv(fatal_encouters_file)
fatal_shootings_df = pd.read_csv(fatal_shootings_file)
juvenile_df = pd.read_csv(juvenile_file)
contracts_df = pd.read_csv(contracts_file)
employment_df = pd.read_csv(employment_file)
killings_df = pd.read_csv(killings_file)
policies_df = pd.read_csv(policies_file)
politics_df = pd.read_csv(politics_file)
poverty_df = pd.read_csv(poverty_file)
wash_post_shootings_df = pd.read_csv(wash_post_shootings_file)

,year,city_name,id_city,city_population,cpi,rev_total_city,rev_general_city,intergovt_rev_city,igr_federal_city,igr_state_city,...,cash_other_offsets,cash_other_bonds,cash_other_other,county_name,id_county,county_population,relationship_city_school,enrollment,districts_in_city,consolidated_govt
0,1977,AK: Anchorage,22002001.0,174500,4.044885,5342.24,4956.92,2148.77,279.32,1869.46,...,178.51,787.93,691.32,NaN,NaN,NaN,4.0,36855.0,NaN,1.0
1,1978,AK: Anchorage,22002001.0,177000,3.759509,5948.99,5490.05,2468.11,403.24,2064.86,...,187.53,1395.82,1158.01,NaN,NaN,NaN,4.0,36804.0,NaN,1.0
2,1979,AK: Anchorage,22002001.0,179600,3.376308,6158.68,5746.64,2573.34,496.97,2076.37,...,249.03,1812.04,1314.62,NaN,NaN,NaN,4.0,36757.0,NaN,1.0
3,1980,AK: Anchorage,22002001.0,178800,2.974757,5654.93,5210.77,2313.62,371.46,1942.16,...,986.73,1330.72,1572.66,NaN,NaN,NaN,4.0,36008.0,NaN,1.0
4,1981,AK: Anchorage,22002001.0,174431,2.696590,6192.83,5736.81,2771.43,338.76,2432.67,...,977.32,1549.51,1669.55,NaN,NaN,NaN,4.0,34557.0,NaN,1.0