In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
metro_chicago_file = 'Police Dataset/Large_metro_areas/Chicago Crimes_-_2001_to_Present.csv'
metro_chicago_df = pd.read_csv(metro_chicago_file)

metro_chicago_df

C:\Users\susie\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11034701,JA366925,01/01/2001 11:00:00 AM,016XX E 86TH PL,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,8.0,45.0,11,NaN,NaN,2001,08/05/2017 03:50:08 PM,NaN,NaN,NaN
1,11227287,JB147188,10/08/2017 03:00:00 AM,092XX S RACINE AVE,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,False,...,21.0,73.0,02,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN
2,11227583,JB147595,03/28/2017 02:00:00 PM,026XX W 79TH ST,0620,BURGLARY,UNLAWFUL ENTRY,OTHER,False,False,...,18.0,70.0,05,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN
3,11227293,JB147230,09/09/2017 08:17:00 PM,060XX S EBERHART AVE,0810,THEFT,OVER $500,RESIDENCE,False,False,...,20.0,42.0,06,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN
4,11227634,JB147599,08/26/2017 10:00:00 AM,001XX W RANDOLPH ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,False,False,...,42.0,32.0,02,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7143694,11700926,JC279725,05/26/2019 05:13:00 PM,036XX W DOUGLAS BLVD,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,APARTMENT,False,True,...,24.0,29.0,26,1152126.0,1893208.0,2019,06/30/2019 03:56:27 PM,41.862830,-87.717040,"(41.862830429, -87.717040084)"
7143695,24560,JC279072,05/26/2019 06:48:00 AM,013XX W HASTINGS ST,0110,HOMICIDE,FIRST DEGREE MURDER,CHA PARKING LOT,True,False,...,25.0,28.0,01A,1167752.0,1893853.0,2019,06/20/2020 03:48:45 PM,41.864278,-87.659660,"(41.864278228, -87.659660218)"
7143696,11707734,JC287730,07/01/2014 07:30:00 AM,063XX S NORMAL BLVD,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,20.0,68.0,11,NaN,NaN,2014,06/02/2019 04:09:42 PM,NaN,NaN,NaN
7143697,11707239,JC287563,11/30/2017 09:00:00 AM,022XX S KOSTNER AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,22.0,29.0,11,NaN,NaN,2017,06/02/2019 04:09:42 PM,NaN,NaN,NaN
7143698,24559,JC278908,05/26/2019 02:11:00 AM,013XX W HASTINGS ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,25.0,28.0,01A,1167746.0,1893853.0,2019,06/20/2020 03:48:45 PM,41.864278,-87.659682,"(41.864278357, -87.659682244)"

In [3]:
metro_Dallas_file = 'Police Dataset/Large_metro_areas/Dallas Police Arrests.csv'
metro_Dallas_df = pd.read_csv(metro_Dallas_file)
metro_Dallas_df

C:\Users\susie\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (14,19,20,21,22,30,32,35,36,41,45,46,56,58,59,61) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,IncidentNum,ArrestYr,ArrestNumber,ArArrestDate,ArArrestTime,ArBkDate,ArLAddress,ArLApt,ArLZip,ArLCity,...,TatooComment,Occupation,JobSchStatus,Employer,Drug,DrugRelated,DrugType,ClothingWorn,Expunged,UpZDate
0,052503-2018,2018,18-008234,03/12/2018 12:00:00 AM,12:02,03/12/2018 01:28:34 PM,2809 E LEDBETTER DR,NaN,75216.0,DALLAS,...,NaN,NaN,NaN,NaN,NaN,No,NaN,"WHITE SHIRT, BLUE JEANS, GRAY HOODIE, TAN SHOES",NaN,2018-03-14 12:40:08
1,055105-2016,2016,16-009843,03/06/2016 12:00:00 AM,22:13,03/06/2016 11:42:15 PM,6500 STARKEY ST,NaN,75232.0,DALLAS,...,NaN,NaN,NaN,NaN,NaN,No,NaN,Shirt: BLACK T SHIRT Jacket: GREY AND BLACK HO...,NaN,2016-03-24 11:36:19
2,095586-2019,2019,19-016816,05/14/2019 12:00:00 AM,01:25,05/14/2019 04:06:27 AM,9731 TREVOR DR,NaN,75243.0,DALLAS,...,NaN,NaN,NaN,NaN,NaN,Uknown,NaN,"WHITE TSHIRT, BLACK SWEATPANTS, BLACK SOCKS, N...",NaN,2019-05-14 11:55:41
3,139944-2017,2017,17-025468,06/20/2017 12:00:00 AM,19:00,06/20/2017 08:27:02 PM,4002 MARSHALL ST,NaN,75210.0,DALLAS,...,NaN,NaN,NaN,NaN,NaN,No,NaN,Shirt: GREEN SHIRT Jacket: N/A Pants: CAMO PAN...,NaN,2017-06-22 13:07:30
4,104552-2020,2020,20-018820,06/14/2020 12:00:00 AM,09:30,06/14/2020 11:26:58 AM,1220 W MOCKINGBIRD LN,NaN,75247.0,DALLAS,...,NaN,NaN,NaN,NaN,NaN,No,NaN,"BLUE TANK TOP, BLUE JEANS, YANKEES HAT",NaN,2020-06-14 11:33:57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81939,206898-2014,2014,14-037443,08/28/2014 12:00:00 AM,03:20,08/28/2014 05:15:34 AM,8081 MARVIN D LOVE SERV SB APT 447,447,75237.0,DALLAS,...,NaN,NaN,NaN,NaN,NaN,No,NaN,Shirt: WHITE Jacket: NONE Pants: SHORTS Shoe: ...,NaN,2014-10-29 11:04:40
81940,268445-2014,2014,14-048353,11/08/2014 12:00:00 AM,07:30,11/08/2014 10:33:42 AM,2758 SCOTLAND DR,NaN,75216.0,DALLAS,...,NaN,NaN,NaN,NaN,NaN,Uknown,NaN,Shirt: WHITE Jacket: BLACK Pants: GREY Shoe: B...,NaN,2014-12-22 12:50:34
81941,191412-2014,2014,14-034646,08/10/2014 12:00:00 AM,23:45,08/10/2014 02:03:38 AM,3900 INVESTOR DR APT 1124,1124,75237.0,DALLAS,...,TATTOO,NaN,NaN,NaN,NaN,No,NaN,Shirt: NONE Jacket: NONE Pants: SHORTS Shoe: Y...,NaN,2014-11-11 15:18:43
81942,173132-2014,2014,14-031140,07/19/2014 12:00:00 AM,09:15,07/19/2014 11:45:47 AM,3823 BONNIE VIEW RD,NaN,75216.0,DALLAS,...,NECK,NaN,NaN,NaN,NaN,No,NaN,Shirt: BROWN Jacket: NONE Pants: SHORTS Shoe: ...,NaN,2014-10-24 13:25:51
81943,229972-2014,2014,14-041650,09/24/2014 12:00:00 AM,12:45,09/24/2014 02:32:13 PM,2750 FORDHAM RD,NaN,75216.0,DALLAS,...,NaN,NaN,NaN,NaN,NaN,No,NaN,Shirt: WHITE Jacket: NONE Pants: BLACK Shoe: B...,NaN,2014-11-03 13:01:33

In [4]:
metro_LA_file = 'Police Dataset/Large_metro_areas/LA Crime_Data_from_2010_to_2019.csv'
metro_LA_df = pd.read_csv(metro_LA_file)
metro_LA_df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13,Newton,1385,2,900,VIOLATION OF COURT ORDER,...,AA,Adult Arrest,900.0,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.0224,-118.2524
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6,Hollywood,646,2,900,VIOLATION OF COURT ORDER,...,IC,Invest Cont,900.0,998.0,NaN,NaN,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1,Central,176,1,122,"RAPE, ATTEMPTED",...,IC,Invest Cont,122.0,NaN,NaN,NaN,8TH ST,SAN PEDRO ST,34.0387,-118.2488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2114694,190608903,03/28/2019 12:00:00 AM,03/28/2019 12:00:00 AM,400,6,Hollywood,644,1,648,ARSON,...,IC,Invest Cont,648.0,NaN,NaN,NaN,1400 N LA BREA AV,NaN,34.0962,-118.3490
2114695,190715222,08/15/2019 12:00:00 AM,08/14/2019 12:00:00 AM,1810,7,Wilshire,701,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER),...,IC,Invest Cont,331.0,NaN,NaN,NaN,WILLOUGHBY AV,ORLANDO AV,34.0871,-118.3732
2114696,192004409,01/06/2019 12:00:00 AM,01/06/2019 12:00:00 AM,2100,20,Olympic,2029,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,...,IC,Invest Cont,930.0,NaN,NaN,NaN,6TH,VIRGIL,34.0637,-118.2870
2114697,191716777,10/17/2019 12:00:00 AM,10/16/2019 12:00:00 AM,1800,17,Devonshire,1795,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,17200 NAPA ST,NaN,34.2266,-118.5085
2114698,190805435,02/01/2019 12:00:00 AM,02/01/2019 12:00:00 AM,1615,8,West LA,852,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,NaN,NaN,NaN,1700 BARRY AV,NaN,34.0420,-118.4531

In [5]:
metro_NY_file = 'Police Dataset/Large_metro_areas/NYPD_Arrests_Data__Historic_.csv'
metro_NY_df = pd.read_csv(metro_NY_file)
metro_NY_df

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,190294601,11/23/2018,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200512,F,B,40,0.0,25-44,M,BLACK,1008096.0,233595.0,40.807816,-73.913863,POINT (-73.91386266099995 40.807816227000046)
1,190266280,11/21/2018,665.0,NaN,NaN,NaN,PL 4902001,F,Q,109,0.0,25-44,M,BLACK HISPANIC,1032084.0,216954.0,40.762044,-73.827330,POINT (-73.82732958099997 40.762043893000055)
2,190159521,11/19/2018,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200000,M,K,77,0.0,25-44,M,BLACK,1003508.0,185056.0,40.674600,-73.930575,POINT (-73.93057482199998 40.67459999000005)
3,190080571,11/16/2018,475.0,NaN,NaN,NaN,PL 1651601,M,Q,103,1.0,18-24,M,BLACK,1039726.0,195270.0,40.702482,-73.799922,POINT (-73.799922252 40.702482133000046)
4,190027735,11/15/2018,475.0,NaN,NaN,NaN,PL 1651601,M,M,10,1.0,45-64,M,WHITE HISPANIC,984669.0,210807.0,40.745301,-73.998489,POINT (-73.99848931699995 40.745301320000074)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5012951,10046926,01/11/2006,969.0,"TRAFFIC,UNCLASSIFIED INFRACTION",881.0,OTHER TRAFFIC INFRACTION,VTL051101A,M,Q,104,0.0,18-24,M,WHITE HISPANIC,1011351.0,198969.0,40.712767,-73.902244,POINT (-73.90224422999995 40.71276740300004)
5012952,9961305,01/05/2006,478.0,"THEFT OF SERVICES, UNCLASSIFIED",343.0,OTHER OFFENSES RELATED TO THEFT,PL 1651503,M,M,25,1.0,45-64,M,BLACK,1002776.0,231994.0,40.803435,-73.933084,POINT (-73.93308447999993 40.80343468000007)
5012953,9960771,01/05/2006,730.0,MANUFACTURE UNAUTHORIZED RECORDINGS,126.0,MISCELLANEOUS PENAL LAW,PL 2754000,F,K,88,0.0,45-64,M,BLACK,991573.0,191853.0,40.693274,-73.973594,POINT (-73.97359405499998 40.69327412300004)
5012954,10040354,01/10/2006,969.0,"TRAFFIC,UNCLASSIFIED INFRACTION",881.0,OTHER TRAFFIC INFRACTION,VTL051101A,M,Q,108,0.0,25-44,M,WHITE,1006264.0,210118.0,40.743383,-73.920557,POINT (-73.92055729099997 40.743382801000045)
5012955,10003945,01/06/2006,521.0,"CONTROLLED SUBSTANCE, SALE 5",117.0,DANGEROUS DRUGS,PL 2203100,F,K,61,0.0,25-44,M,WHITE HISPANIC,998319.0,153692.0,40.588522,-73.949347,POINT (-73.94934695399996 40.58852221700005)

In [6]:
budgets_file = 'Police Dataset/budgets.csv'
budgets_df = pd.read_csv(budgets_file)
budgets_df

,year,city_name,id_city,city_population,cpi,rev_total_city,rev_general_city,intergovt_rev_city,igr_federal_city,igr_state_city,...,cash_other_offsets,cash_other_bonds,cash_other_other,county_name,id_county,county_population,relationship_city_school,enrollment,districts_in_city,consolidated_govt
0,1977,AK: Anchorage,22002001.0,174500,4.044885,5342.24,4956.92,2148.77,279.32,1869.46,...,178.51,787.93,691.32,NaN,NaN,NaN,4.0,36855.0,NaN,1.0
1,1978,AK: Anchorage,22002001.0,177000,3.759509,5948.99,5490.05,2468.11,403.24,2064.86,...,187.53,1395.82,1158.01,NaN,NaN,NaN,4.0,36804.0,NaN,1.0
2,1979,AK: Anchorage,22002001.0,179600,3.376308,6158.68,5746.64,2573.34,496.97,2076.37,...,249.03,1812.04,1314.62,NaN,NaN,NaN,4.0,36757.0,NaN,1.0
3,1980,AK: Anchorage,22002001.0,178800,2.974757,5654.93,5210.77,2313.62,371.46,1942.16,...,986.73,1330.72,1572.66,NaN,NaN,NaN,4.0,36008.0,NaN,1.0
4,1981,AK: Anchorage,22002001.0,174431,2.696590,6192.83,5736.81,2771.43,338.76,2432.67,...,977.32,1549.51,1669.55,NaN,NaN,NaN,4.0,34557.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6227,2013,WY: Cheyenne,512011003.0,61420,1.052211,1759.65,1388.54,691.83,0.00,691.83,...,0.00,356.49,2443.35,Laramie,511011011.0,94690.0,2.0,8972.0,1.0,0.0
6228,2014,WY: Cheyenne,512011003.0,62104,1.035415,2084.62,1789.64,995.35,347.20,648.15,...,0.05,368.39,2607.96,Laramie,511011011.0,95706.0,2.0,8972.0,1.0,0.0
6229,2015,WY: Cheyenne,512011003.0,62259,1.034187,1901.58,1613.17,767.70,90.31,677.38,...,0.00,344.11,2839.67,Laramie,511011011.0,96038.0,2.0,8972.0,1.0,0.0
6230,2016,WY: Cheyenne,512011003.0,62904,1.021304,1745.83,1433.06,586.85,78.16,508.69,...,0.00,554.85,2532.48,Laramie,511011011.0,97006.0,2.0,8972.0,1.0,0.0
6231,2017,WY: Cheyenne,512011003.0,63483,1.000000,1775.03,1454.77,628.39,103.62,524.77,...,0.00,465.23,2595.86,Laramie,511011011.0,97978.0,2.0,8972.0,1.0,0.0

In [7]:
deaths_arrests_file = 'Police Dataset/deaths_arrests_race.csv'
deaths_arrests_df = pd.read_csv(deaths_arrests_file)
deaths_arrests_df

,State,City,PD,Black People Killed by Police (1/1/2013-12/31/2019),Hispanic People Killed by Police (1/1/2013-12/31/2019),Native American People Killed by Police (1/1/2013-12/31/2019),Asian People Killed by Police (1/1/2013-12/31/2019),Pacific Islanders Killed by Police (1/1/2013-12/31/2019),White People Killed by Police (1/1/2013-12/31/2019),Unknown Race People Killed by Police (1/1/2013-12/31/2019),...,Violent crimes 2015 (if reported by agency),Violent crimes 2016 (if reported by agency),Violent crimes 2017 (if reported by agency),Violent crimes 2018 (if reported by agency),2013 Total Arrests (UCR Data),2014 Total Arrests,2015 Total Arrests,2016 Total Arrests,2017 Total Arrests,2018 Total Arrests
0,New Mexico,Albuquerque,Albuquerque Police Department,3.0,18.0,NaN,NaN,NaN,10.0,1.0,...,5406.0,6245.0,7686.0,7646.0,27700.0,25447.0,22126.0,20341.0,21130.0,22254.0
1,California,Anaheim,Anaheim Police Department,3.0,7.0,NaN,NaN,NaN,3.0,NaN,...,1271.0,1209.0,1253.0,1192.0,7891.0,8137.0,8381.0,9415.0,8869.0,10019.0
2,Alaska,Anchorage,Anchorage Police Department,1.0,1.0,2.0,NaN,NaN,5.0,4.0,...,3226.0,3422.0,3564.0,3824.0,17601.0,14748.0,14387.0,13294.0,13871.0,13973.0
3,Texas,Arlington,Arlington Police Department,7.0,1.0,NaN,1.0,NaN,4.0,1.0,...,1946.0,2188.0,NaN,1784.0,17258.0,16222.0,13989.0,11024.0,8397.0,9566.0
4,Georgia,Atlanta,Atlanta Police Department,13.0,NaN,NaN,NaN,NaN,1.0,1.0,...,5203.0,5121.0,4504.0,3814.0,30505.0,26958.0,NaN,22161.0,22581.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Arizona,Tucson,Tucson Police Department,2.0,10.0,NaN,NaN,NaN,10.0,6.0,...,3472.0,4245.0,4268.0,3958.0,31892.0,32313.0,32294.0,33442.0,30569.0,28858.0
96,Oklahoma,Tulsa,Tulsa Police Department,7.0,4.0,NaN,1.0,NaN,14.0,1.0,...,3628.0,4444.0,4214.0,4294.0,16360.0,14739.0,15769.0,14311.0,12666.0,13303.0
97,Virginia,Virginia Beach,Virginia Beach Police Department,3.0,NaN,NaN,NaN,NaN,2.0,1.0,...,626.0,700.0,625.0,528.0,24359.0,23247.0,20259.0,19190.0,18668.0,17071.0
98,Kansas,Wichita,Wichita Police Department,1.0,2.0,NaN,NaN,NaN,10.0,NaN,...,3839.0,4136.0,3998.0,4622.0,10566.0,9323.0,9307.0,9120.0,8322.0,3931.0
99,North Carolina,Winston-Salem,Winston-Salem Police Department,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,19742.0,18875.0,16146.0,15432.0,NaN,12786.0

In [8]:
dod_equip_file = 'Police Dataset/dod_equipment_purchases.csv'
dod_equip_df = pd.read_csv(dod_equip_file)
dod_equip_df

,State,Station Name (LEA),NSN,Item Name,Quantity,UI,Acquisition Value,DEMIL Code,DEMIL IC,Ship Date,state
0,AL,ABBEVILLE POLICE DEPT,6115-01-285-3012,"GENERATOR SET,DIESEL ENGINE",2,Each,9922.25,A,7.0,2018-02-12 00:00:00.000,Alabama
1,AL,ABBEVILLE POLICE DEPT,6230-01-439-3732,"FLOODLIGHT SET,ELECTRIC",1,Each,12000.00,A,1.0,2018-01-31 00:00:00.000,Alabama
2,AL,ABBEVILLE POLICE DEPT,7125-01-466-0952,"CABINET,STORAGE",4,Each,860.74,A,1.0,2018-01-24 00:00:00.000,Alabama
3,AL,ABBEVILLE POLICE DEPT,2530-01-558-2138,"WHEEL,PNEUMATIC TIRE",1,Assembly,2015.00,A,1.0,2018-01-24 00:00:00.000,Alabama
4,AL,ABBEVILLE POLICE DEPT,2320-01-447-3892,"TRUCK,WRECKER",1,Each,331680.00,Q,6.0,2017-11-14 00:00:00.000,Alabama
...,...,...,...,...,...,...,...,...,...,...,...
154775,PR,VIEQUES POLICE DEPT,2320-01-107-7156,"TRUCK,UTILITY",1,Each,43376.00,Q,6.0,2011-11-08,Puerto Rico
154776,PR,VIEQUES POLICE DEPT,2320-01-128-9551,"TRUCK,UTILITY",1,Each,50458.00,C,1.0,2011-10-28,Puerto Rico
154777,PR,VIEQUES POLICE DEPT,2320-01-107-7155,"TRUCK,UTILITY",1,Each,41061.00,Q,6.0,2012-04-04,Puerto Rico
154778,PR,VIEQUES POLICE DEPT,2320-01-128-9551,"TRUCK,UTILITY",1,Each,50458.00,C,1.0,2011-10-28,Puerto Rico
154779,PR,VIEQUES POLICE DEPT,2320-01-107-7155,"TRUCK,UTILITY",1,Each,41061.00,Q,6.0,2012-04-04,Puerto Rico

In [9]:
education_file = 'Police Dataset/education_census_bureau.csv'
education_df = pd.read_csv(education_file)
education_df

,id,Geographic Area Name,Margin of Error!!Percent MOE!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,Estimate!!Male!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,Margin of Error!!Male MOE!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,Estimate!!Percent Male!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,Margin of Error!!Percent Male MOE!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,Estimate!!Female!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,Margin of Error!!Female MOE!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,Estimate!!Percent Female!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,...,Margin of Error!!Male MOE!!Population 25 years and over!!Population 35 to 44 years,Estimate!!Percent Male!!Population 25 years and over!!Population 35 to 44 years,Margin of Error!!Percent Male MOE!!Population 25 years and over!!Population 35 to 44 years,Estimate!!Female!!Population 25 years and over!!Population 35 to 44 years,Margin of Error!!Female MOE!!Population 25 years and over!!Population 35 to 44 years,Estimate!!Percent Female!!Population 25 years and over!!Population 35 to 44 years,Margin of Error!!Percent Female MOE!!Population 25 years and over!!Population 35 to 44 years,Estimate!!Total!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,Margin of Error!!Total MOE!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,Estimate!!Percent!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher
0,310M400US10100,"Aberdeen, SD Micro Area",2.3,2187,107,92.7,3.2,2219,104,96.9,...,107,(X),(X),2290,119,(X),(X),4406,161,94.8
1,310M400US10140,"Aberdeen, WA Micro Area",2.6,3990,176,88.7,3.5,3206,142,84.6,...,97,(X),(X),3789,67,(X),(X),7196,237,86.8
2,310M400US10180,"Abilene, TX Metro Area",1.5,9040,270,86.8,2.0,8101,201,90.2,...,181,(X),(X),8982,109,(X),(X),17141,357,88.3
3,310M400US10220,"Ada, OK Micro Area",2.0,1868,68,89.2,2.9,2091,83,92.1,...,46,(X),(X),2270,63,(X),(X),3959,113,90.7
4,310M400US10260,"Adjuntas, PR Micro Area",6.0,675,90,67.5,9.0,883,108,78.1,...,*****,(X),(X),1131,*****,(X),(X),1558,128,73.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,310M400US49660,"Youngstown-Warren-Boardman, OH-PA Metro Area",0.8,27053,327,89.5,1.1,27726,342,92.7,...,163,(X),(X),29896,199,(X),(X),54779,504,91.1
941,310M400US49700,"Yuba City, CA Metro Area",2.4,8143,342,77.7,2.8,8000,325,77.2,...,147,(X),(X),10359,122,(X),(X),16143,545,77.5
942,310M400US49740,"Yuma, AZ Metro Area",2.3,8920,496,75.9,3.7,8324,299,76.6,...,184,(X),(X),10862,102,(X),(X),17244,595,76.3
943,310M400US49780,"Zanesville, OH Micro Area",2.0,4446,177,89.5,3.1,4693,161,92.2,...,100,(X),(X),5091,104,(X),(X),9139,250,90.9
944,310M400US49820,"Zapata, TX Micro Area",10.3,571,111,70.5,14.5,371,140,42.1,...,28,(X),(X),882,30,(X),(X),942,164,55.7

In [10]:
fatal_encouters_file = 'Police Dataset/fatal_encounters_dot_org.csv'
fatal_encouters_df = pd.read_csv(fatal_encouters_file)
fatal_encouters_df

,Unique ID,Subject's name,Subject's age,Subject's gender,Subject's race,Subject's race with imputations,Imputation probability,URL of image of deceased,Date of injury resulting in death (month/day/year),Location of injury (address),...,Cause of death,A brief description of the circumstances surrounding the death,"Dispositions/Exclusions INTERNAL USE, NOT FOR ANALYSIS",Link to news article or photo of official document,"Symptoms of mental illness? INTERNAL USE, NOT FOR ANALYSIS",Video,Date&Description,Unique ID formula,Unique identifier (redundant),Date (Year)
0,25747,Mark A. Horton,21,Male,African-American/Black,African-American/Black,not imputed,NaN,01/01/2000,Davison Freeway,...,Vehicle,Two Detroit men killed when their car crashed ...,Unreported,https://drive.google.com/file/d/1-nK-RohgiM-tZ...,No,NaN,1/1/2000: Two Detroit men killed when their ca...,NaN,25747,2000
1,25748,Phillip A. Blurbridge,19,Male,African-American/Black,African-American/Black,not imputed,NaN,01/01/2000,Davison Freeway,...,Vehicle,Two Detroit men killed when their car crashed ...,Unreported,https://drive.google.com/file/d/1-nK-RohgiM-tZ...,No,NaN,1/1/2000: Two Detroit men killed when their ca...,NaN,25748,2000
2,25746,Samuel H. Knapp,17,Male,European-American/White,European-American/White,not imputed,NaN,01/01/2000,27898-27804 US-101,...,Vehicle,Samuel Knapp was allegedly driving a stolen ve...,Unreported,https://drive.google.com/file/d/10DisrV8K5ReP1...,No,NaN,1/1/2000: Samuel Knapp was allegedly driving a...,NaN,25746,2000
3,25749,Mark Ortiz,23,Male,Hispanic/Latino,Hispanic/Latino,not imputed,NaN,01/01/2000,600 W Cherry Ln,...,Vehicle,A motorcycle was allegedly being driven errati...,Unreported,https://drive.google.com/file/d/1qAEefRjX_aTtC...,No,NaN,1/1/2000: A motorcycle was allegedly being dri...,NaN,25749,2000
4,1,LaTanya Janelle McCoy,24,Female,African-American/Black,African-American/Black,not imputed,NaN,01/02/2000,5700 block Mack Road,...,Vehicle,LaTanya Janelle McCoy's car was struck from be...,Unknown,http://www.recordnet.com/article/20000110/A_NE...,No,NaN,1/2/2000: LaTanya Janelle McCoy's car was stru...,NaN,1,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28190,28190,Mary Lawrence,39,Female,Race unspecified,NaN,NaN,NaN,06/03/2020,Dewey Ave & N Saddler St,...,Gunshot,A Poteau officer entered a home regarding a do...,Pending investigation,https://www.nwahomepage.com/news/woman-killed-...,No,NaN,6/3/2020: A Poteau officer entered a home rega...,NaN,28190,2020
28191,28191,Guadalupe Francisco-Martinez,37,Female,Hispanic/Latino,Hispanic/Latino,not imputed,https://fatalencounters.org/wp-content/uploads...,06/03/2020,1600 block West Irving Park Road,...,Vehicle,"Officers saw a man, 22, driving a Jeep and att...",Pending investigation,https://blockclubchicago.org/2020/06/04/long-p...,No,NaN,"6/3/2020: Officers saw a man, 22, driving a Je...",NaN,28191,2020
28192,28193,Scott Hutton,36,Male,European-American/White,European-American/White,not imputed,https://fatalencounters.org/wp-content/uploads...,06/03/2020,1500 block Evergreen Drive,...,Gunshot,Officers were called to a home and found Alexa...,Pending investigation,https://www.fox16.com/news/breaking-news/alexa...,No,NaN,6/3/2020: Officers were called to a home and f...,NaN,28193,2020
28193,28194,Eric Anthony Galvan,25,Male,Hispanic/Latino,Hispanic/Latino,not imputed,https://fatalencounters.org/wp-content/uploads...,06/03/2020,2000 block Rockford Drive,...,Gunshot,Police arrived at a home to follow up on a hom...,Pending investigation,https://www.caller.com/story/news/crime/2020/0...,No,NaN,6/3/2020: Police arrived at a home to follow u...,NaN,28194,2020
28194,28195,Juan Carlos Lopez,NaN,Male,Hispanic/Latino,Hispanic/Latino,not imputed,https://fatalencounters.org/wp-content/uploads...,06/04/2020,400 block Northview Drive,...,Gunshot,An officer came to a home on Northview Drive a...,Suicide,https://myfox8.com/news/standoff-ends-with-sus...,No,NaN,6/4/2020: An officer came to a home on Northvi...,NaN,28195,2020

In [11]:
fatal_shootings_file = 'Police Dataset/fatal-police-shootings-data.csv'
fatal_shootings_df = pd.read_csv(fatal_shootings_file)
fatal_shootings_df

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5411,5921,William Slyter,2020-06-13,shot,gun,22.0,M,W,Kansas City,MO,False,other,Other,False
5412,5922,TK TK,2020-06-13,shot,undetermined,NaN,M,NaN,San Bernardino,CA,False,attack,Not fleeing,False
5413,5924,Nicholas Hirsh,2020-06-15,shot,gun,31.0,M,W,Lawrence,KS,False,attack,Car,False
5414,5926,TK TK,2020-06-16,shot,gun,24.0,M,NaN,Beach Park,IL,False,attack,Not fleeing,False
5415,5927,TK TK,2020-06-16,shot,gun,27.0,M,NaN,Phoenix,AZ,False,attack,Not fleeing,False

In [12]:
employment_file = 'Police Dataset/police_employment_fbi.csv'
employment_df = pd.read_csv(employment_file)
employment_df

,data_year,ori,pub_agency_name,pub_agency_unit,state_abbr,division_name,region_name,county_name,agency_type_name,population_group_desc,...,male_officer_ct,male_civilian_ct,male_total_ct,female_officer_ct,female_civilian_ct,female_total_ct,officer_ct,civilian_ct,total_pe_ct,pe_ct_per_1000
0,1960,AK020045Y,Alcohol Beverage Control Board,NaN,AK,Pacific,West,NaN,Other State Agency,"Cities under 2,500",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1960,AL0011000,Homewood,NaN,AL,East South Central,South,JEFFERSON,City,"Cities from 10,000 thru 24,999",...,17.0,3.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1960,AL0160600,Coffeeville,NaN,AL,East South Central,South,NaN,City,"Cities under 2,500",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1960,AL0190000,Coffee,NaN,AL,East South Central,South,COFFEE,County,"Non-MSA counties from 10,000 thru 24,999",...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1960,AL0280600,Mentone,NaN,AL,East South Central,South,NaN,City,"Cities under 2,500",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1439462,2018,WV0350700,Department of Natural Resources:,Ohio County,WV,South Atlantic,South,OHIO,Other State Agency,"MSA counties under 10,000",...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN
1439463,2018,WV0390900,State Fire Marshal:,Preston County,WV,South Atlantic,South,PRESTON,Other State Agency,"MSA counties under 10,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1439464,2018,WV0550400,Department of Natural Resources:,Wyoming County,WV,South Atlantic,South,WYOMING,Other State Agency,"Non-MSA counties under 10,000",...,2.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,2.0,NaN
1439465,2018,WVWSP2200,State Police:,Lewisburg,WV,South Atlantic,South,GREENBRIER,State Police,"Non-MSA counties under 10,000",...,8.0,0.0,8.0,0.0,1.0,1.0,8.0,1.0,9.0,NaN
1439466,2018,WY0070500,Dubois,NaN,WY,Mountain,West,FREMONT,City,"Cities under 2,500",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
killings_file = 'Police Dataset/police_killings.csv'
killings_df = pd.read_csv(killings_file)
killings_df

,Victim's name,Victim's age,Victim's gender,Victim's race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,Eric M. Tellez,28,Male,White,https://fatalencounters.org/wp-content/uploads...,31/12/2019,Broad St.,Globe,AZ,85501.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Name withheld by police,NaN,Male,Unknown race,NaN,31/12/2019,7239-7411 I-40,Memphis,AR,38103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Terry Hudson,57,Male,Black,NaN,31/12/2019,3600 N 24th St,Omaha,NE,68110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Malik Williams,23,Male,Black,NaN,31/12/2019,30800 14th Avenue South,Federal Way,WA,98003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Frederick Perkins,37,Male,Black,NaN,31/12/2019,17057 N Outer 40 Rd,Chesterfield,MO,63005.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
policies_file = 'Police Dataset/police_policies.csv'
policies_df = pd.read_csv(policies_file)
policies_df

,City,Requires De-Escalation,Has Use of Force Continuum,Bans Chokeholds and Strangleholds,Requires Warning Before Shooting,Restricts Shooting at Moving Vehicles,Requires Exhaust All Other Means Before Shooting,Duty to Intervene,Requires Comprehensive Reporting
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albuquerque,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0
2,Anaheim,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN
3,Anchorage,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN
4,Arlington,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...
96,Tulsa,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN
97,Virginia Beach,1.0,NaN,1.0,1.0,NaN,NaN,1.0,1.0
98,Washington DC,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0
99,Wichita,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0
100,Winston-Salem,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0

In [15]:
politics_file = 'Police Dataset/politics_538.csv'
politics_df = pd.read_csv(politics_file)
politics_df

,Area,Republican Vote Share,Partisan Segregation
0,"Jackson, Mississippi",0.399,0.63
1,New Orleans,0.416,0.58
2,"Baton Rouge, Louisiana",0.497,0.56
3,"Birmingham, Alabama",0.455,0.56
4,"Shreveport, Louisiana",0.444,0.56
...,...,...,...
148,"Palm Bay-Melbourne, Florida",0.587,0.12
149,"Greater Myrtle Beach area, South Carolina and ...",0.692,0.12
150,City of Honolulu,0.330,0.12
151,"Bonita Springs, Florida",0.638,0.12
152,"Murrieta-Temecula-Menifee, California",0.598,0.10

In [16]:
poverty_file = 'Police Dataset/poverty_census_bureau.csv'
poverty_df = pd.read_csv(poverty_file)
poverty_df

,id,Geographic Area Name,Estimate!!Total!!Population for whom poverty status is determined,Margin of Error!!Total MOE!!Population for whom poverty status is determined,Estimate!!Below poverty level!!Population for whom poverty status is determined,Margin of Error!!Below poverty level MOE!!Population for whom poverty status is determined,Estimate!!Percent below poverty level!!Population for whom poverty status is determined,Margin of Error!!Percent below poverty level MOE!!Population for whom poverty status is determined,Estimate!!Total!!Population for whom poverty status is determined!!AGE!!Under 18 years,Margin of Error!!Total MOE!!Population for whom poverty status is determined!!AGE!!Under 18 years,...,"Estimate!!Below poverty level!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Worked less than full-time, year-round in the past 12 months","Margin of Error!!Below poverty level MOE!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Worked less than full-time, year-round in the past 12 months","Estimate!!Percent below poverty level!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Worked less than full-time, year-round in the past 12 months","Margin of Error!!Percent below poverty level MOE!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Worked less than full-time, year-round in the past 12 months",Estimate!!Total!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Did not work,Margin of Error!!Total MOE!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Did not work,Estimate!!Below poverty level!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Did not work,Margin of Error!!Below poverty level MOE!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Did not work,Estimate!!Percent below poverty level!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Did not work,Margin of Error!!Percent below poverty level MOE!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Did not work
0,310M400US10100,"Aberdeen, SD Micro Area",41450.0,202.0,4743.0,724.0,11.4,1.7,10126.0,78.0,...,1104.0,296.0,45.1,9.0,2557.0,314.0,854.0,264.0,33.4,8.6
1,310M400US10140,"Aberdeen, WA Micro Area",68852.0,420.0,10980.0,1026.0,15.9,1.5,14622.0,159.0,...,1176.0,214.0,39.1,6.3,7664.0,648.0,3407.0,438.0,44.5,3.7
2,310M400US10180,"Abilene, TX Metro Area",156492.0,773.0,24001.0,1639.0,15.3,1.0,39611.0,281.0,...,3591.0,425.0,55.3,4.4,10972.0,987.0,5328.0,874.0,48.6,4.6
3,310M400US10220,"Ada, OK Micro Area",36923.0,307.0,5685.0,532.0,15.4,1.5,8985.0,81.0,...,778.0,154.0,50.7,6.7,2882.0,253.0,1521.0,185.0,52.8,4.5
4,310M400US10260,"Adjuntas, PR Micro Area",18125.0,41.0,11325.0,843.0,62.5,4.6,3882.0,25.0,...,176.0,72.0,77.9,14.3,1719.0,261.0,1428.0,246.0,83.1,5.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941,310M400US49700,"Yuba City, CA Metro Area",168789.0,475.0,28479.0,1916.0,16.9,1.1,45236.0,225.0,...,2204.0,329.0,40.3,4.8,10882.0,646.0,4862.0,466.0,44.7,3.3
942,310M400US49740,"Yuma, AZ Metro Area",202390.0,692.0,40591.0,2440.0,20.1,1.2,52635.0,285.0,...,2161.0,415.0,42.6,6.1,11929.0,741.0,4686.0,493.0,39.3,2.9
943,310M400US49780,"Zanesville, OH Micro Area",83619.0,337.0,13669.0,1088.0,16.3,1.3,19200.0,212.0,...,1577.0,290.0,42.4,5.1,7301.0,412.0,2864.0,315.0,39.2,3.7
944,310M400US49820,"Zapata, TX Micro Area",14192.0,160.0,5609.0,1017.0,39.5,7.1,4693.0,218.0,...,214.0,138.0,63.9,26.3,847.0,266.0,625.0,232.0,73.8,13.3
945,0100000US,United States,314943184.0,10644.0,44257979.0,285269.0,14.1,0.1,72382641.0,10469.0,...,5202689.0,21690.0,39.1,0.1,21205565.0,35316.0,9369195.0,56613.0,44.2,0.2

In [17]:
wash_post_shootings_file = 'Police Dataset/shootings_wash_post.csv'
wash_post_shootings_df = pd.read_csv(wash_post_shootings_file)
wash_post_shootings_df

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5384,5878,TK TK,2020-05-31,shot and Tasered,gun,NaN,M,W,Watertown,WI,False,attack,Not fleeing,False
5385,5842,David McAtee,2020-06-01,shot,gun,53.0,M,B,Louisville,KY,False,attack,NaN,True
5386,5866,Jorge Gomez,2020-06-01,shot,gun,25.0,M,H,Las Vegas,NV,False,attack,Not fleeing,False
5387,5867,Ryan Emblem Moore,2020-06-01,shot,NaN,36.0,M,W,Fayetteville,AR,False,undetermined,Not fleeing,False
5388,5869,Robert James Lyon,2020-06-02,shot,gun,65.0,M,NaN,Cottonwood,CA,False,other,Not fleeing,False

In [18]:
metro_chicago_file = 'Police Dataset/Large_metro_areas/Chicago Crimes_-_2001_to_Present.csv'
metro_Dallas_file = 'Police Dataset/Large_metro_areas/Dallas Police Arrests.csv'
metro_LA_file = 'Police Dataset/Large_metro_areas/LA Crime_Data_from_2010_to_2019.csv'
metro_NY_file = 'Police Dataset/Large_metro_areas/NYPD_Arrests_Data__Historic_.csv'
NYFrisk_2015_file = 'Police Dataset/NYC_stop_frisk/sqf-2015.csv'
NYFrisk_2016_file = 'Police Dataset/NYC_stop_frisk/sqf-2016.csv'
NYFrisk_2017_file = 'Police Dataset/NYC_stop_frisk/sqf-2017.csv'
NYFrisk_2018_file = 'Police Dataset/NYC_stop_frisk/sqf-2018.csv'
NYFrisk_2019_file = 'Police Dataset/NYC_stop_frisk/sqf-2019.csv'
budgets_file = 'Police Dataset/budgets.csv'
deaths_arrests_file = 'Police Dataset/deaths_arrests_race.csv'
dod_equip_file = 'Police Dataset/dod_equipment_purchases.csv'
education_file = 'Police Dataset/education_census_bureau.csv'
fatal_encouters_file = 'Police Dataset/fatal_encounters_dot_org.csv'
fatal_shootings_file = 'Police Dataset/fatal-police-shootings-data.csv'
juvenile_file = 'Police Dataset/juvenile_arrests.csv'
contracts_file = 'Police Dataset/police_contracts.csv'
employment_file = 'Police Dataset/police_employment_fbi.csv'
killings_file = 'Police Dataset/police_killings.csv'
policies_file = 'Police Dataset/police_policies.csv'
politics_file = 'Police Dataset/politics_538.csv'
poverty_file = 'Police Dataset/poverty_census_bureau.csv'
wash_post_shootings_file = 'Police Dataset/shootings_wash_post.csv'

In [ ]:
metro_chicago_df = pd.read_csv(metro_chicago_file)
metro_Dallas_df = pd.read_csv(metro_Dallas_file)
metro_LA_df = pd.read_csv(metro_LA_file)
metro_NY_df = pd.read_csv(metro_NY_file)
NYFrisk_2015_df = pd.read_csv(NYFrisk_2015_file)
NYFrisk_2016_df = pd.read_csv(NYFrisk_2016_file)
NYFrisk_2017_df = pd.read_csv(NYFrisk_2017_file)
NYFrisk_2018_df = pd.read_csv(NYFrisk_2018_file)
NYFrisk_2019_df = pd.read_csv(NYFrisk_2019_file)
budgets_df = pd.read_csv(budgets_file)
deaths_arrests_df = pd.read_csv(deaths_arrests_file)
dod_equip_df = pd.read_csv(dod_equip_file)
education_df = pd.read_csv(education_file)
fatal_encouters_df = pd.read_csv(fatal_encouters_file)
fatal_shootings_df = pd.read_csv(fatal_shootings_file)
juvenile_df = pd.read_csv(juvenile_file)
contracts_df = pd.read_csv(contracts_file)
employment_df = pd.read_csv(employment_file)
killings_df = pd.read_csv(killings_file)
policies_df = pd.read_csv(policies_file)
politics_df = pd.read_csv(politics_file)
poverty_df = pd.read_csv(poverty_file)
wash_post_shootings_df = pd.read_csv(wash_post_shootings_file)